Repository goodbadwolf/nebulae: changes, and which pre-commit hooks are due for each by the changed paths.
All: tanaka-prettier-html-css, tanaka-rustfmt, tanaka-clippy, tanaka-rust-tests, tanaka-format-generated-typescript, tanaka-eslint, tanaka-typescript, tanaka-extension-tests, kiku-eslint, kiku-typecheck, kiku-tests

tanaka-prettier-html-css:
  name: '[TANAKA] Format HTML/CSS files'
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ -f \"$file\" ]]; then\n    cd tanaka/extension && pnpm prettier --write \"../../$file\"\n  fi\ndone' --\n"
  language: system
  pass_filenames: true
  require_serial: true

tanaka-rustfmt:
  name: '[TANAKA] Format Rust code'
  entry: bash -c 'cd tanaka/server && cargo fmt'
  language: system
  pass_filenames: false

tanaka-clippy:
  name: '[TANAKA] Lint Rust code with clippy'
  entry: bash -c 'cd tanaka/server && cargo clippy --all-targets -- -D warnings'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-rust-tests:
  name: '[TANAKA] Run Rust tests'
  entry: bash -c 'cd tanaka/server && (command -v cargo-nextest >/dev/null 2>&1 && cargo nextest run) || cargo test'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-format-generated-typescript:
  name: '[TANAKA] Format generated TypeScript files'
  entry: bash -c 'cd tanaka/extension && pnpm run lint:generated || true'
  language: system
  pass_filenames: false
  always_run: false

tanaka-eslint:
  name: '[TANAKA] Lint TypeScript with ESLint'
  entry: bash -c 'cd tanaka/extension && pnpm run lint'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-typescript:
  name: '[TANAKA] Type check TypeScript'
  entry: bash -c 'cd tanaka/extension && pnpm run typecheck'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-extension-tests:
  name: '[TANAKA] Run TypeScript tests'
  entry: bash -c 'cd tanaka/extension && pnpm tests'
  language: system
  pass_filenames: false
  require_serial: true

kiku-eslint:
  name: '[KIKU] Lint and format TypeScript with ESLint'
  entry: bash -c 'cd kiku/core && pnpm lint'
  language: system
  pass_filenames: false

kiku-typecheck:
  name: '[KIKU] Type check TypeScript'
  entry: bash -c 'cd kiku/core && pnpm typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-push

kiku-tests:
  name: '[KIKU] Run TypeScript tests'
  entry: bash -c 'cd kiku/core && pnpm tests'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: migrate manager page to design system components
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/styles/core.css
  tanaka/extension/src/playground/styles/manager.css
Due: tanaka-prettier-html-css

refactor: migrate playground to unified design system
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/styles/core.css
  tanaka/extension/src/playground/styles/settings.css
Due: tanaka-prettier-html-css

chore: update dev dependencies
  .pre-commit-config.yaml
  kiku/core/package.json
  tanaka/extension/package.json
  tanaka/extension/pnpm-lock.yaml
Due: none

docs: consolidate and fix documentation
  tanaka/docs/ARCHITECTURE.md
  tanaka/docs/DESIGN-SYSTEM-GUIDE.md
  tanaka/docs/DEVELOPMENT.md
  tanaka/docs/FIREFOX-API-GUIDE.md
  tanaka/docs/GETTING-STARTED.md
  tanaka/docs/IMPLEMENTATION-NOTES.md
  tanaka/docs/SYNC-PROTOCOL.md
  tanaka/docs/TROUBLESHOOTING.md
  tanaka/docs/UI-DESIGN.md
Due: none

fix: standardize CSS size modifiers to use numeric format
  tanaka/docs/DESIGN-SYSTEM-GUIDE.md
  tanaka/extension/.stylelintrc.json
  tanaka/extension/src/playground/styles/core.css
Due: tanaka-prettier-html-css

docs: add React + Mantine migration plan for playground
  tanaka/docs/REACT-MIGRATION-PLAN.md
Due: none

feat: copy of vanilla JS playground for Tanaka
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground-js/index.html
  tanaka/extension/src/playground-js/index.ts
  tanaka/extension/src/playground-js/manager.html
  tanaka/extension/src/playground-js/manager.ts
  tanaka/extension/src/playground-js/mock-data.js
  tanaka/extension/src/playground-js/popup.html
  tanaka/extension/src/playground-js/popup.ts
  tanaka/extension/src/playground-js/settings.html
  tanaka/extension/src/playground-js/settings.ts
  tanaka/extension/src/playground-js/styles/core.css
  tanaka/extension/src/playground-js/styles/index.css
  tanaka/extension/src/playground-js/styles/manager.css
  tanaka/extension/src/playground-js/styles/popup.css
  tanaka/extension/src/playground-js/styles/settings.css
  tanaka/extension/src/playground-js/styles/welcome.css
  tanaka/extension/src/playground-js/welcome.html
  tanaka/extension/src/playground-js/welcome.ts
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat: add React playground foundation with SCSS modules
  tanaka/extension/package.json
  tanaka/extension/pnpm-lock.yaml
  tanaka/extension/postcss.config.ts
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground-react/index.html
  tanaka/extension/src/playground-react/index.tsx
  tanaka/extension/src/playground-react/playground-app/index.tsx
  tanaka/extension/src/playground-react/playground-app/playground-app.module.scss
  tanaka/extension/src/playground-react/playground-app/playground-app.tsx
  tanaka/extension/src/playground-react/styles/MANTINE-CSS-VARS.md
  tanaka/extension/src/playground-react/styles/_mantine_vars.scss
  tanaka/extension/src/playground-react/styles/_tanaka_vars.scss
  tanaka/extension/src/playground-react/styles/globals.scss
  tanaka/extension/src/playground-react/types.d.ts
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

docs: update React migration plan to use CSS variables instead of theme.ts
  tanaka/docs/REACT-MIGRATION-PLAN.md
Due: none

feat: add React components for playground migration
  tanaka/extension/package.json
  tanaka/extension/pnpm-lock.yaml
  tanaka/extension/src/playground-react/components/Card/Card.module.scss
  tanaka/extension/src/playground-react/components/Card/Card.tsx
  tanaka/extension/src/playground-react/components/Card/index.ts
  tanaka/extension/src/playground-react/components/Icon/Icon.module.scss
  tanaka/extension/src/playground-react/components/Icon/Icon.tsx
  tanaka/extension/src/playground-react/components/Icon/index.ts
  tanaka/extension/src/playground-react/components/Logo/Logo.module.scss
  tanaka/extension/src/playground-react/components/Logo/Logo.tsx
  tanaka/extension/src/playground-react/components/Logo/index.ts
  tanaka/extension/src/playground-react/components/index.ts
  tanaka/extension/src/playground-react/playground-app/playground-app.module.scss
  tanaka/extension/src/playground-react/playground-app/playground-app.tsx
  tanaka/extension/src/playground-react/utils/animation-utils.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat: implement WithDefaults type utility in @kiku/core
  kiku/core/src/__tests__/with-defaults.test.ts
  kiku/core/src/index.ts
  kiku/core/src/with-defaults.ts
Due: kiku-eslint, kiku-typecheck, kiku-tests

feat(kiku): implement WithDefaults type utility with variants
  .gitignore
  kiku/README.md
  kiku/core/docs/WITH-DEFAULTS.md
  kiku/core/src/__tests__/with-defaults-edge-cases.test.ts
  kiku/core/src/__tests__/with-defaults-variants.test.ts
  kiku/core/src/__tests__/with-defaults.test.ts
  kiku/core/src/index.ts
  kiku/core/src/with-defaults.ts
Due: kiku-eslint, kiku-typecheck, kiku-tests

test(kiku): add React-specific tests for WithDefaults
  .pre-commit-config.yaml
  kiku/core/docs/WITH-DEFAULTS.md
  kiku/core/package.json
  kiku/core/pnpm-lock.yaml
  kiku/core/src/__tests__/with-defaults-edge-cases.test.ts
  kiku/core/src/__tests__/with-defaults-react.test.ts
  kiku/core/src/__tests__/with-defaults.test.ts
  kiku/core/src/index.ts
  kiku/core/src/with-defaults.ts
Due: kiku-eslint, kiku-typecheck, kiku-tests

refactor(tanaka): modernize configuration system
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/scripts/dev.ts
  tanaka/extension/scripts/generate-icons.ts
  tanaka/extension/scripts/rsbuild-utils.ts
  tanaka/extension/tanaka.config.d.ts
  tanaka/extension/tanaka.config.ts
  tanaka/extension/tanaka.local.config.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor(tanaka): migrate playground to PageShell component pattern
  tanaka/extension/src/playground-react/app/app.module.scss
  tanaka/extension/src/playground-react/app/app.tsx
  tanaka/extension/src/playground-react/app/index.tsx
  tanaka/extension/src/playground-react/components/Logo/Logo.tsx
  tanaka/extension/src/playground-react/components/Logo/index.ts
  tanaka/extension/src/playground-react/components/app-logo/app-logo.module.scss
  tanaka/extension/src/playground-react/components/app-logo/app-logo.tsx
  tanaka/extension/src/playground-react/components/app-logo/index.ts
  tanaka/extension/src/playground-react/components/index.ts
  tanaka/extension/src/playground-react/components/page-shell/index.ts
  tanaka/extension/src/playground-react/components/page-shell/page-shell.scss
  tanaka/extension/src/playground-react/components/page-shell/page-shell.tsx
  tanaka/extension/src/playground-react/index.tsx
  tanaka/extension/src/playground-react/playground-app/index.tsx
  tanaka/extension/src/playground-react/playground-app/playground-app.module.scss
  tanaka/extension/src/playground-react/styles/_mantine_vars.scss
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat(kiku): add hasProperty type guard utility
  kiku/core/src/__tests__/object-utils.test.ts
  kiku/core/src/index.ts
  kiku/core/src/object-utils.ts
Due: kiku-eslint, kiku-typecheck, kiku-tests

chore: enforce no-explicit-any as error and fix tanaka config validation
  config/eslint.common.ts
  tanaka/extension/tanaka.config.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: migrate playground components to WithDefaults pattern and regular CSS
  tanaka/extension/src/playground-react/app/app.module.scss
  tanaka/extension/src/playground-react/app/app.scss
  tanaka/extension/src/playground-react/app/app.tsx
  tanaka/extension/src/playground-react/components/Card/Card.tsx
  tanaka/extension/src/playground-react/components/Card/card.scss
  tanaka/extension/src/playground-react/components/Icon/Icon.tsx
  tanaka/extension/src/playground-react/components/Icon/icon.scss
  tanaka/extension/src/playground-react/components/Icon/index.ts
  tanaka/extension/src/playground-react/components/app-logo/app-logo.scss
  tanaka/extension/src/playground-react/components/app-logo/app-logo.tsx
  tanaka/extension/src/playground-react/components/page-shell/page-shell.scss
  tanaka/extension/src/playground-react/components/page-shell/page-shell.tsx
  tanaka/extension/src/playground-react/styles/_tanaka_vars.scss
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: migrate to semantic design tokens across playground-react
  tanaka/extension/src/playground-react/app/app.scss
  tanaka/extension/src/playground-react/components/Card/card.scss
  tanaka/extension/src/playground-react/components/Icon/Icon.tsx
  tanaka/extension/src/playground-react/components/Icon/icon.scss
  tanaka/extension/src/playground-react/components/app-logo/app-logo.scss
  tanaka/extension/src/playground-react/components/page-shell/page-shell.scss
  tanaka/extension/src/playground-react/styles/_mantine_vars.scss
  tanaka/extension/src/playground-react/styles/_tanaka_vars.scss
  tanaka/extension/src/playground-react/styles/globals.scss
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat: add ResponsiveGrid component for flexible layouts
  .pre-commit-config.yaml
  tanaka/extension/src/playground-react/app/app.scss
  tanaka/extension/src/playground-react/app/app.tsx
  tanaka/extension/src/playground-react/components/responsive-grid/index.ts
  tanaka/extension/src/playground-react/components/responsive-grid/responsive-grid.scss
  tanaka/extension/src/playground-react/components/responsive-grid/responsive-grid.tsx
  tanaka/extension/src/playground-react/styles/_tanaka_vars.scss
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat(tanaka): add welcome route to playground-react with wizard components
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground-react/components/icon/icon.scss
  tanaka/extension/src/playground-react/components/icon/icon.tsx
  tanaka/extension/src/playground-react/components/icon/index.ts
  tanaka/extension/src/playground-react/pages/welcome/components/step-completion/index.ts
  tanaka/extension/src/playground-react/pages/welcome/components/step-completion/step-completion.scss
  tanaka/extension/src/playground-react/pages/welcome/components/step-completion/step-completion.tsx
  tanaka/extension/src/playground-react/pages/welcome/components/step-device-name/index.ts
  tanaka/extension/src/playground-react/pages/welcome/components/step-device-name/step-device-name.scss
  tanaka/extension/src/playground-react/pages/welcome/components/step-device-name/step-device-name.tsx
  tanaka/extension/src/playground-react/pages/welcome/components/step-server-config/index.ts
  tanaka/extension/src/playground-react/pages/welcome/components/step-server-config/step-server-config.scss
  tanaka/extension/src/playground-react/pages/welcome/components/step-server-config/step-server-config.tsx
  tanaka/extension/src/playground-react/pages/welcome/components/step-welcome/index.ts
  tanaka/extension/src/playground-react/pages/welcome/components/step-welcome/step-welcome.scss
  tanaka/extension/src/playground-react/pages/welcome/components/step-welcome/step-welcome.tsx
  tanaka/extension/src/playground-react/pages/welcome/components/welcome-wizard/index.ts
  tanaka/extension/src/playground-react/pages/welcome/components/welcome-wizard/welcome-wizard.scss
  tanaka/extension/src/playground-react/pages/welcome/components/welcome-wizard/welcome-wizard.tsx
  tanaka/extension/src/playground-react/pages/welcome/components/wizard-progress/index.ts
  tanaka/extension/src/playground-react/pages/welcome/components/wizard-progress/wizard-progress.scss
  tanaka/extension/src/playground-react/pages/welcome/components/wizard-progress/wizard-progress.tsx
  tanaka/extension/src/playground-react/pages/welcome/index.ts
  tanaka/extension/src/playground-react/pages/welcome/welcome.scss
  tanaka/extension/src/playground-react/pages/welcome/welcome.tsx
  tanaka/extension/src/playground-react/styles/_tanaka_vars.scss
  tanaka/extension/src/playground-react/types.d.ts
  tanaka/extension/src/playground-react/welcome.html
  tanaka/extension/src/playground-react/welcome.tsx
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor(tanaka): prepare home page structure alongside existing app
  tanaka/extension/src/playground-react/app/index.tsx
  tanaka/extension/src/playground-react/pages/home/home.scss
  tanaka/extension/src/playground-react/pages/home/home.tsx
  tanaka/extension/src/playground-react/pages/home/index.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

Path conditions:
  tanaka-prettier-html-css: any of: ^tanaka/extension/.*\.(html|css)$ and \.(html|htm|xhtml)$, \.css$ and not ((.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$)
  tanaka-rustfmt: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-clippy: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-rust-tests: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-format-generated-typescript: any of: ^tanaka/extension/src/api/(errors|models|sync)/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-eslint: any of: ^tanaka/extension/.*\.(ts|tsx|js|jsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-typescript: any of: ^tanaka/extension/.*\.(ts|tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-extension-tests: any of: ^tanaka/extension/.*\.(ts|tsx|test\.ts|test\.tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-eslint: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-typecheck: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-tests: any of: ^kiku/.*\.(ts|test\.ts)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
