Repository goodbadwolf/nebulae: changes, and which pre-commit hooks are due for each by the changed paths.
All: tanaka-prettier-html-css, tanaka-rustfmt, tanaka-clippy, tanaka-rust-tests, tanaka-format-generated-typescript, tanaka-eslint, tanaka-typescript, tanaka-extension-tests, kiku-eslint, kiku-typecheck, kiku-tests

Path conditions:
  tanaka-prettier-html-css: any of: ^tanaka/extension/.*\.(html|css)$ and \.(html|htm|xhtml)$, \.css$ and not ((.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$)
  tanaka-rustfmt: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-clippy: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-rust-tests: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-format-generated-typescript: any of: ^tanaka/extension/src/api/(errors|models|sync)/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-eslint: any of: ^tanaka/extension/.*\.(ts|tsx|js|jsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-typescript: any of: ^tanaka/extension/.*\.(ts|tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-extension-tests: any of: ^tanaka/extension/.*\.(ts|tsx|test\.ts|test\.tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-eslint: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-typecheck: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-tests: any of: ^kiku/.*\.(ts|test\.ts)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$

fix: remove Card and icon folders to fix case sensitivity
  tanaka/extension/src/playground/components/Card/Card.tsx
  tanaka/extension/src/playground/components/Card/card.scss
  tanaka/extension/src/playground/components/Card/index.ts
  tanaka/extension/src/playground/components/icon/icon.scss
  tanaka/extension/src/playground/components/icon/icon.tsx
  tanaka/extension/src/playground/components/icon/index.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

fix: recreate card and icon folders with lowercase names
  tanaka/extension/src/playground/components/card/card.scss
  tanaka/extension/src/playground/components/card/card.tsx
  tanaka/extension/src/playground/components/card/index.ts
  tanaka/extension/src/playground/components/icon/icon.scss
  tanaka/extension/src/playground/components/icon/icon.tsx
  tanaka/extension/src/playground/components/icon/index.ts
  tanaka/extension/src/playground/pages/home/home.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

docs: update architecture documentation tasks based on comprehensive scan
  tanaka/docs/ARCHITECTURE_UPDATE_TASKS.md
Due: none

docs: update tanaka architecture documentation
  tanaka/docs/ARCHITECTURE.md
  tanaka/docs/ARCHITECTURE_UPDATE_TASKS.md
  tanaka/docs/EXTENSION_ARCHITECTURE.md
  tanaka/docs/PLAYGROUND_MIGRATION_PLAN.md
  tanaka/docs/archive/DESIGN-SYSTEM-GUIDE.md
  tanaka/docs/archive/INTERACTIVE_EXAMPLES.md
  tanaka/docs/archive/REACT-MIGRATION-PLAN.md
Due: none

docs: mark completed tasks in architecture update checklist
  tanaka/docs/ARCHITECTURE_UPDATE_TASKS.md
Due: none

docs: complete essential and nice-to-have documentation updates
  tanaka/CLAUDE.md
  tanaka/README.md
  tanaka/docs/ARCHITECTURE.md
  tanaka/docs/ARCHITECTURE_UPDATE_TASKS.md
  tanaka/docs/archive/DESIGN-SYSTEM-GUIDE.md
  tanaka/docs/archive/INTERACTIVE_EXAMPLES.md
  tanaka/docs/archive/REACT-MIGRATION-PLAN.md
Due: none

refactor: migrate playground components to WithDefaults pattern and regular CSS
  tanaka/CLAUDE.md
  tanaka/extension/src/assets/styles/global.css
  tanaka/extension/src/background/index.ts
  tanaka/extension/src/playground/RESTRUCTURING_PLAN.md
  tanaka/extension/src/playground/components/Card/Card.tsx
  tanaka/extension/src/playground/components/Card/card.scss
  tanaka/extension/src/playground/components/Card/index.ts
  tanaka/extension/src/playground/pages/home/home.tsx
  tanaka/extension/src/popup/App.tsx
  tanaka/extension/src/popup/components/StatusIndicator.tsx
  tanaka/extension/src/popup/components/SyncButton.tsx
  tanaka/extension/src/popup/index.html
  tanaka/extension/src/popup/index.tsx
  tanaka/extension/src/popup/styles/App.css
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

docs: organize and update tanaka documentation structure
  tanaka/docs/ARCHITECTURE_UPDATE_TASKS.md
  tanaka/docs/EXTENSION_ARCHITECTURE.md
  tanaka/docs/INTERACTIVE_EXAMPLES.md
  tanaka/docs/PLAYGROUND_MIGRATION_PLAN.md
Due: none

feat: simplify CSS architecture to use Mantine defaults
  tanaka/CLAUDE.md
  tanaka/docs/EXTENSION_MIGRATION_PLAN.md
Due: none

refactor: simplify AppLogo component and move to shared components
  tanaka/extension/.stylelintrc.json
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/components/app-logo/app-logo.scss
  tanaka/extension/src/components/app-logo/app-logo.tsx
  tanaka/extension/src/components/app-logo/index.ts
  tanaka/extension/src/components/theme-provider/index.ts
  tanaka/extension/src/components/theme-provider/theme-provider.tsx
  tanaka/extension/src/playground/App.tsx
  tanaka/extension/src/playground/components/app-logo/app-logo.scss
  tanaka/extension/src/playground/components/app-logo/app-logo.tsx
  tanaka/extension/src/playground/components/icon/icon.scss
  tanaka/extension/src/playground/components/page-shell/page-shell.tsx
  tanaka/extension/src/playground/components/responsive-grid/responsive-grid.scss
  tanaka/extension/src/playground/components/responsive-grid/responsive-grid.tsx
  tanaka/extension/src/playground/pages/home/home.scss
  tanaka/extension/src/playground/pages/home/home.tsx
  tanaka/extension/src/playground/pages/welcome/welcome.scss
  tanaka/extension/src/playground/pages/welcome/welcome.tsx
  tanaka/extension/src/playground/styles/_mantine_vars.scss
  tanaka/extension/src/playground/styles/_tanaka_vars.scss
  tanaka/extension/src/playground/styles/globals.scss
  tanaka/extension/tanaka.config.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: move Card component to shared components directory
  tanaka/extension/src/components/card/card.scss
  tanaka/extension/src/components/card/card.tsx
  tanaka/extension/src/components/card/index.ts
  tanaka/extension/src/playground/pages/home/home.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

style: apply linter formatting to Card component
  tanaka/extension/src/components/card/card.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

docs: update migration plan with completed component reorganization tasks
  tanaka/docs/EXTENSION_MIGRATION_PLAN.md
Due: none

refactor: simplify Card component to remove @kiku/core dependency
  tanaka/extension/src/components/card/card.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: move ResponsiveGrid to shared components and remove @kiku/core dependency
  tanaka/extension/src/components/responsive-grid/index.ts
  tanaka/extension/src/components/responsive-grid/responsive-grid.scss
  tanaka/extension/src/components/responsive-grid/responsive-grid.tsx
  tanaka/extension/src/playground/pages/home/home.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: move Icon component and animation-utils to shared locations, remove @kiku/core dependency
  tanaka/extension/src/components/icon/icon.scss
  tanaka/extension/src/components/icon/icon.tsx
  tanaka/extension/src/components/icon/index.ts
  tanaka/extension/src/playground/pages/home/home.tsx
  tanaka/extension/src/playground/pages/welcome/components/step-completion/step-completion.tsx
  tanaka/extension/src/playground/pages/welcome/components/step-server-config/step-server-config.tsx
  tanaka/extension/src/playground/pages/welcome/components/step-welcome/step-welcome.tsx
  tanaka/extension/src/playground/styles/globals.scss
  tanaka/extension/src/utils/animation-utils.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: move PageShell to shared components and remove @kiku/core dependency
  tanaka/extension/src/components/page-shell/index.ts
  tanaka/extension/src/components/page-shell/page-shell.scss
  tanaka/extension/src/components/page-shell/page-shell.tsx
  tanaka/extension/src/playground/components/page-shell/page-shell.scss
  tanaka/extension/src/playground/pages/home/home.tsx
  tanaka/extension/src/playground/pages/welcome/welcome.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: migrate WizardProgress to use Mantine Progress component
  tanaka/extension/src/playground/pages/welcome/components/wizard-progress/wizard-progress.scss
  tanaka/extension/src/playground/pages/welcome/components/wizard-progress/wizard-progress.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

docs: update migration plan with completed component tasks
  tanaka/docs/EXTENSION_MIGRATION_PLAN.md
Due: none

refactor: replace ResponsiveGrid with Mantine SimpleGrid in home page
  tanaka/extension/src/playground/pages/home/home.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: remove ResponsiveGrid component in favor of Mantine SimpleGrid
  tanaka/extension/src/components/responsive-grid/index.ts
  tanaka/extension/src/components/responsive-grid/responsive-grid.scss
  tanaka/extension/src/components/responsive-grid/responsive-grid.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

fix: restore Card component with CSS classes instead of inline styles
  tanaka/extension/src/components/card/card.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: simplify Card component using Mantine's polymorphic feature
  tanaka/extension/src/components/card/card.scss
  tanaka/extension/src/components/card/card.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: rename Card to ActionCard for better specificity
  tanaka/extension/src/components/action-card/action-card.scss
  tanaka/extension/src/components/action-card/action-card.tsx
  tanaka/extension/src/components/action-card/index.ts
  tanaka/extension/src/components/card/index.ts
  tanaka/extension/src/playground/pages/home/home.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

fix: make ActionCard CSS classes BEM compliant
  tanaka/extension/src/components/action-card/action-card.scss
  tanaka/extension/src/components/action-card/action-card.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: improve ActionCard component structure and types
  tanaka/extension/src/components/action-card/action-card.scss
  tanaka/extension/src/components/action-card/action-card.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: simplify logo component using Mantine Avatar
  tanaka/extension/src/components/app-logo/app-logo.scss
  tanaka/extension/src/components/app-logo/app-logo.tsx
  tanaka/extension/src/components/app-logo/index.ts
  tanaka/extension/src/components/tanaka-logo/index.ts
  tanaka/extension/src/components/tanaka-logo/tanaka-logo.scss
  tanaka/extension/src/components/tanaka-logo/tanaka-logo.tsx
  tanaka/extension/src/playground/components/page-shell/page-shell.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

chore: remove duplicate page-shell component from playground
  tanaka/extension/src/playground/components/page-shell/page-shell.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: extract spinning functionality from Icon to new Spin component
  tanaka/extension/src/components/icon/icon.scss
  tanaka/extension/src/components/icon/icon.tsx
  tanaka/extension/src/components/icon/index.ts
  tanaka/extension/src/components/spin/index.ts
  tanaka/extension/src/components/spin/spin.scss
  tanaka/extension/src/components/spin/spin.tsx
  tanaka/extension/src/playground/pages/home/home.tsx
  tanaka/extension/src/playground/pages/welcome/components/step-completion/step-completion.tsx
  tanaka/extension/src/playground/pages/welcome/components/step-server-config/step-server-config.tsx
  tanaka/extension/src/playground/pages/welcome/components/step-welcome/step-welcome.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests
