Repository goodbadwolf/nebulae: changes, and which pre-commit hooks are due for each by the changed paths.
All: tanaka-prettier-html-css, tanaka-rustfmt, tanaka-clippy, tanaka-rust-tests, tanaka-format-generated-typescript, tanaka-eslint, tanaka-typescript, tanaka-extension-tests, kiku-eslint, kiku-typecheck, kiku-tests

tanaka-prettier-html-css:
  name: '[TANAKA] Format HTML/CSS files'
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ -f \"$file\" ]]; then\n    cd tanaka/extension && pnpm prettier --write \"../../$file\"\n  fi\ndone' --\n"
  language: system
  pass_filenames: true
  require_serial: true

tanaka-rustfmt:
  name: '[TANAKA] Format Rust code'
  entry: bash -c 'cd tanaka/server && cargo fmt'
  language: system
  pass_filenames: false

tanaka-clippy:
  name: '[TANAKA] Lint Rust code with clippy'
  entry: bash -c 'cd tanaka/server && cargo clippy --all-targets -- -D warnings'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-rust-tests:
  name: '[TANAKA] Run Rust tests'
  entry: bash -c 'cd tanaka/server && (command -v cargo-nextest >/dev/null 2>&1 && cargo nextest run) || cargo test'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-format-generated-typescript:
  name: '[TANAKA] Format generated TypeScript files'
  entry: bash -c 'cd tanaka/extension && pnpm run lint:generated || true'
  language: system
  pass_filenames: false
  always_run: false

tanaka-eslint:
  name: '[TANAKA] Lint TypeScript with ESLint'
  entry: bash -c 'cd tanaka/extension && pnpm run lint'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-typescript:
  name: '[TANAKA] Type check TypeScript'
  entry: bash -c 'cd tanaka/extension && pnpm run typecheck'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-extension-tests:
  name: '[TANAKA] Run TypeScript tests'
  entry: bash -c 'cd tanaka/extension && pnpm tests'
  language: system
  pass_filenames: false
  require_serial: true

kiku-eslint:
  name: '[KIKU] Lint and format TypeScript with ESLint'
  entry: bash -c 'cd kiku/core && pnpm lint'
  language: system
  pass_filenames: false

kiku-typecheck:
  name: '[KIKU] Type check TypeScript'
  entry: bash -c 'cd kiku/core && pnpm typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-push

kiku-tests:
  name: '[KIKU] Run TypeScript tests'
  entry: bash -c 'cd kiku/core && pnpm tests'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor(tanaka): create routes directory with updated entry points
  tanaka/extension/src/playground-react/routes/index.tsx
  tanaka/extension/src/playground-react/routes/welcome.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor(tanaka): switch to new routes structure and clean up old files
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground-react/app/app.scss
  tanaka/extension/src/playground-react/app/app.tsx
  tanaka/extension/src/playground-react/app/index.tsx
  tanaka/extension/src/playground-react/index.tsx
  tanaka/extension/src/playground-react/welcome.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat(tanaka): add shared HTML template for playground-react
  tanaka/extension/src/playground-react/template.html
Due: tanaka-prettier-html-css

fix(tanaka): update root element ID to match new template
  tanaka/extension/src/playground-react/routes/index.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat(tanaka): implement shared template with dynamic titles
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground-react/index.html
  tanaka/extension/src/playground-react/welcome.html
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

chore(tanaka): remove obsolete Mantine CSS vars documentation
  tanaka/extension/src/playground-react/styles/MANTINE-CSS-VARS.md
Due: none

Revert "chore(tanaka): remove obsolete Mantine CSS vars documentation"
  tanaka/extension/src/playground-react/styles/MANTINE-CSS-VARS.md
Due: none

docs(tanaka): clarify that playground-react uses Mantine UI framework
  tanaka/CLAUDE.md
  tanaka/extension/src/playground-react/RESTRUCTURING_PLAN.md
Due: none

refactor(tanaka): prepare home page structure alongside existing app
  tanaka/extension/src/playground-react/app/index.tsx
  tanaka/extension/src/playground-react/pages/home/home.scss
  tanaka/extension/src/playground-react/pages/home/home.tsx
  tanaka/extension/src/playground-react/pages/home/index.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

docs(tanaka): add React Router migration plan
  tanaka/extension/src/playground-react/RESTRUCTURING_PLAN.md
Due: none

feat(tanaka): add react-router-dom dependencies
  tanaka/extension/package.json
  tanaka/extension/pnpm-lock.yaml
Due: none

feat(tanaka): create App.tsx with React Router setup
  tanaka/extension/src/playground-react/App.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat(tanaka): add single entry point and HTML template
  tanaka/extension/src/playground-react/index.html
  tanaka/extension/src/playground-react/main.tsx
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat(tanaka): switch playground-react to single-entry React Router app
  tanaka/extension/rsbuild.config.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

chore(tanaka): remove old multi-entry structure
  tanaka/extension/src/playground-react/routes/index.tsx
  tanaka/extension/src/playground-react/routes/welcome.tsx
  tanaka/extension/src/playground-react/template.html
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

fix: configure historyApiFallback for React Router SPA and simplify Card component
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground-react/components/Card/Card.tsx
  tanaka/extension/src/playground-react/pages/home/home.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: rename main.tsx to index.tsx for conventional entry point
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground/index.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: replace map with explicit Card components in home page
  tanaka/extension/src/playground/pages/home/home.tsx
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

feat: add talapas HPC cluster tools and configurations
  talapas/README.md
  talapas/modulefiles/gcc/13.1.0rs.lua
  talapas/modulefiles/gcc/13.1.0rs/cc_wrapper.sh
  talapas/modulefiles/gcc/13.1.0rs/specs
  talapas/modulefiles/gcc/13.1.0rs/specs.module.orig
  talapas/modulefiles/gcc/13.1.0rs/specs.orig
  talapas/modulefiles/gcc/13.1.0rs/verify-poc/.gitignore
  talapas/modulefiles/gcc/13.1.0rs/verify-poc/Cargo.lock
  talapas/modulefiles/gcc/13.1.0rs/verify-poc/Cargo.toml
  talapas/modulefiles/gcc/13.1.0rs/verify-poc/src/main.rs
  talapas/modulefiles/gcc/13.1.0rs/verify-poc/test.c
  talapas/modulefiles/gcc/13.1.0rs/verify-poc/verify.sh
  talapas/modulefiles/gcc/README.md
Due: none

docs: organize and update tanaka documentation structure
  tanaka/docs/ARCHITECTURE_UPDATE_TASKS.md
  tanaka/docs/EXTENSION_ARCHITECTURE.md
  tanaka/docs/INTERACTIVE_EXAMPLES.md
  tanaka/docs/PLAYGROUND_MIGRATION_PLAN.md
Due: none

refactor: migrate playground components to WithDefaults pattern and regular CSS
  tanaka/CLAUDE.md
  tanaka/extension/src/assets/styles/global.css
  tanaka/extension/src/background/index.ts
  tanaka/extension/src/playground/RESTRUCTURING_PLAN.md
  tanaka/extension/src/playground/components/Card/Card.tsx
  tanaka/extension/src/playground/components/Card/card.scss
  tanaka/extension/src/playground/components/Card/index.ts
  tanaka/extension/src/playground/pages/home/home.tsx
  tanaka/extension/src/popup/App.tsx
  tanaka/extension/src/popup/components/StatusIndicator.tsx
  tanaka/extension/src/popup/components/SyncButton.tsx
  tanaka/extension/src/popup/index.html
  tanaka/extension/src/popup/index.tsx
  tanaka/extension/src/popup/styles/App.css
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

Path conditions:
  tanaka-prettier-html-css: any of: ^tanaka/extension/.*\.(html|css)$ and \.(html|htm|xhtml)$, \.css$ and not ((.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$)
  tanaka-rustfmt: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-clippy: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-rust-tests: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-format-generated-typescript: any of: ^tanaka/extension/src/api/(errors|models|sync)/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-eslint: any of: ^tanaka/extension/.*\.(ts|tsx|js|jsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-typescript: any of: ^tanaka/extension/.*\.(ts|tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-extension-tests: any of: ^tanaka/extension/.*\.(ts|tsx|test\.ts|test\.tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-eslint: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-typecheck: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-tests: any of: ^kiku/.*\.(ts|test\.ts)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
