Repository goodbadwolf/nebulae: changes, and which pre-commit hooks are due for each by the changed paths.
All: tanaka-prettier-html-css, tanaka-rustfmt, tanaka-clippy, tanaka-rust-tests, tanaka-format-generated-typescript, tanaka-eslint, tanaka-typescript, tanaka-extension-tests, kiku-eslint, kiku-typecheck, kiku-tests

tanaka-prettier-html-css:
  name: '[TANAKA] Format HTML/CSS files'
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ -f \"$file\" ]]; then\n    cd tanaka/extension && pnpm prettier --write \"../../$file\"\n  fi\ndone' --\n"
  language: system
  pass_filenames: true
  require_serial: true

tanaka-rustfmt:
  name: '[TANAKA] Format Rust code'
  entry: bash -c 'cd tanaka/server && cargo fmt'
  language: system
  pass_filenames: false

tanaka-clippy:
  name: '[TANAKA] Lint Rust code with clippy'
  entry: bash -c 'cd tanaka/server && cargo clippy --all-targets -- -D warnings'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-rust-tests:
  name: '[TANAKA] Run Rust tests'
  entry: bash -c 'cd tanaka/server && (command -v cargo-nextest >/dev/null 2>&1 && cargo nextest run) || cargo test'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-format-generated-typescript:
  name: '[TANAKA] Format generated TypeScript files'
  entry: bash -c 'cd tanaka/extension && pnpm run lint:generated || true'
  language: system
  pass_filenames: false
  always_run: false

tanaka-eslint:
  name: '[TANAKA] Lint TypeScript with ESLint'
  entry: bash -c 'cd tanaka/extension && pnpm run lint'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-typescript:
  name: '[TANAKA] Type check TypeScript'
  entry: bash -c 'cd tanaka/extension && pnpm run typecheck'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-extension-tests:
  name: '[TANAKA] Run TypeScript tests'
  entry: bash -c 'cd tanaka/extension && pnpm tests'
  language: system
  pass_filenames: false
  require_serial: true

kiku-eslint:
  name: '[KIKU] Lint and format TypeScript with ESLint'
  entry: bash -c 'cd kiku/core && pnpm lint'
  language: system
  pass_filenames: false

kiku-typecheck:
  name: '[KIKU] Type check TypeScript'
  entry: bash -c 'cd kiku/core && pnpm typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-push

kiku-tests:
  name: '[KIKU] Run TypeScript tests'
  entry: bash -c 'cd kiku/core && pnpm tests'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: implement Phosphor icons and systematize CSS variables
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

refactor: align popup.html with design system and standardize naming
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

refactor: complete BEM transformation of popup.html
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/styles/design-system-v2.css
  tanaka/extension/src/playground/styles/design-system.css
  tanaka/extension/src/playground/styles/popup.css
Due: tanaka-prettier-html-css

refactor: enhance playground index with design system v2
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/styles/design-system-v2.css
  tanaka/extension/src/playground/styles/index.css
Due: tanaka-prettier-html-css

refactor: streamline playground welcome page with BEM compliance
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground/onboarding.html
  tanaka/extension/src/playground/onboarding.ts
  tanaka/extension/src/playground/styles/design-system-v2.css
  tanaka/extension/src/playground/styles/popup.css
  tanaka/extension/src/playground/styles/welcome.css
  tanaka/extension/src/playground/welcome.html
  tanaka/extension/src/playground/welcome.ts
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: convert settings page to BEM naming convention
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/styles/settings.css
Due: tanaka-prettier-html-css

refactor: update manager page with design system v2 and BEM compliance
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/styles/design-system-v2.css
  tanaka/extension/src/playground/styles/manager.css
  tanaka/extension/src/playground/styles/settings.css
Due: tanaka-prettier-html-css

refactor: fix BEM compliance issues in manager page
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/styles/design-system-v2.css
  tanaka/extension/src/playground/styles/design-system.css
  tanaka/extension/src/playground/styles/manager.css
Due: tanaka-prettier-html-css

refactor: rename design-system-v2.css to core.css
  tanaka/extension/src/playground/DESIGN-SYSTEM-AUDIT.md
  tanaka/extension/src/playground/DESIGN-SYSTEM-REFACTORING-PLAN.md
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/styles/core.css
  tanaka/extension/src/playground/styles/manager.css
  tanaka/extension/src/playground/styles/popup.css
  tanaka/extension/src/playground/styles/settings.css
  tanaka/extension/src/playground/styles/welcome.css
  tanaka/extension/src/playground/welcome.html
Due: tanaka-prettier-html-css

refactor: rename simulator to prototype across playground files
  tanaka/extension/src/playground/DESIGN-SYSTEM-AUDIT.md
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/mock-data.js
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/welcome.html
Due: tanaka-prettier-html-css, tanaka-eslint

refactor: consolidate design system and remove duplicate CSS
  tanaka/extension/src/playground/DESIGN-SYSTEM-AUDIT.md
  tanaka/extension/src/playground/manager.ts
  tanaka/extension/src/playground/onboarding.ts
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/popup.ts
  tanaka/extension/src/playground/settings.ts
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: improve popup layout with side-by-side controls
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

refactor: rename webapp to playground and integrate with rsbuild
  tanaka/extension/package.json
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/index.ts
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/mock-data.js
  tanaka/extension/src/playground/onboarding.html
  tanaka/extension/src/playground/onboarding.ts
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/popup.ts
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/styles/design-system.css
  tanaka/extension/src/webapp/onboarding-v2.html
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: improve popup.html structure and add safety features
  tanaka/extension/src/playground/popup.html
Due: tanaka-prettier-html-css

fix: restore missing text-4xl variable and playground-title class
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

refactor: consolidate duplicate CSS classes in playground HTML
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/onboarding.html
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

docs: add comprehensive design system refactoring plan and audit
  tanaka/extension/src/playground/DESIGN-SYSTEM-AUDIT.md
  tanaka/extension/src/playground/DESIGN-SYSTEM-REFACTORING-PLAN.md
Due: none

feat: implement tanaka UI simulator webapp
  tanaka/extension/src/webapp/index.html
  tanaka/extension/src/webapp/manager.html
  tanaka/extension/src/webapp/mock-data.js
  tanaka/extension/src/webapp/onboarding-v2.html
  tanaka/extension/src/webapp/onboarding.html
  tanaka/extension/src/webapp/popup.html
  tanaka/extension/src/webapp/settings.html
  tanaka/extension/src/webapp/styles/design-system.css
Due: tanaka-prettier-html-css, tanaka-eslint

feat: enhance popup interface with consistent styling
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

refactor: enhance onboarding UI with improved design system
  tanaka/extension/src/webapp/onboarding.html
  tanaka/extension/src/webapp/styles/design-system.css
Due: tanaka-prettier-html-css

refactor: enhance playground HTML pages with design system
  config/package.json
  config/pnpm-workspace.yaml
  kiku/core/package.json
  kiku/core/pnpm-lock.yaml
  tanaka/extension/package.json
  tanaka/extension/pnpm-lock.yaml
  tanaka/extension/pnpm-workspace.yaml
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/manager.ts
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/settings.ts
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: migrate playground to unified design system
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/styles/core.css
  tanaka/extension/src/playground/styles/settings.css
Due: tanaka-prettier-html-css

refactor: migrate manager page to design system components
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/styles/core.css
  tanaka/extension/src/playground/styles/manager.css
Due: tanaka-prettier-html-css

docs: add design system guide for Tanaka playground
  tanaka/extension/src/playground/DESIGN-SYSTEM-AUDIT.md
  tanaka/extension/src/playground/DESIGN-SYSTEM-GUIDE.md
  tanaka/extension/src/playground/DESIGN-SYSTEM-REFACTORING-PLAN.md
Due: none

feat: add CSS linting with stylelint and BEM enforcement
  .pre-commit-config.yaml
  tanaka/extension/.stylelintrc.json
  tanaka/extension/package.json
  tanaka/extension/pnpm-lock.yaml
  tanaka/extension/src/assets/styles/global.css
  tanaka/extension/src/playground/CSS-REFACTORING-PLAN.md
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/styles/core.css
  tanaka/extension/src/playground/styles/index.css
  tanaka/extension/src/playground/styles/manager.css
  tanaka/extension/src/playground/styles/popup.css
  tanaka/extension/src/playground/styles/settings.css
  tanaka/extension/src/playground/styles/welcome.css
  tanaka/extension/src/playground/welcome.html
  tanaka/extension/src/popup/styles/App.css
Due: tanaka-prettier-html-css

docs: update design system guide with new BEM modifiers
  tanaka/extension/src/playground/CSS-REFACTORING-PLAN.md
  tanaka/extension/src/playground/DESIGN-SYSTEM-GUIDE.md
Due: none

chore: update dev dependencies
  .pre-commit-config.yaml
  kiku/core/package.json
  tanaka/extension/package.json
  tanaka/extension/pnpm-lock.yaml
Due: none

Path conditions:
  tanaka-prettier-html-css: any of: ^tanaka/extension/.*\.(html|css)$ and \.(html|htm|xhtml)$, \.css$ and not ((.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$)
  tanaka-rustfmt: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-clippy: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-rust-tests: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-format-generated-typescript: any of: ^tanaka/extension/src/api/(errors|models|sync)/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-eslint: any of: ^tanaka/extension/.*\.(ts|tsx|js|jsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-typescript: any of: ^tanaka/extension/.*\.(ts|tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-extension-tests: any of: ^tanaka/extension/.*\.(ts|tsx|test\.ts|test\.tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-eslint: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-typecheck: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-tests: any of: ^kiku/.*\.(ts|test\.ts)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
