Repository goodbadwolf/nebulae: changes, and which pre-commit hooks are due for each by the changed paths.
All: tanaka-prettier-html-css, tanaka-rustfmt, tanaka-clippy, tanaka-rust-tests, tanaka-format-generated-typescript, tanaka-eslint, tanaka-typescript, tanaka-extension-tests, kiku-eslint, kiku-typecheck, kiku-tests

tanaka-prettier-html-css:
  name: Format HTML/CSS files (tanaka)
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ -f \"$file\" ]]; then\n    cd tanaka/extension && pnpm prettier --write \"../../$file\"\n  fi\ndone' --\n"
  language: system
  pass_filenames: true
  require_serial: true

tanaka-rustfmt:
  name: Format Rust code (tanaka)
  entry: bash -c 'cd tanaka/server && cargo fmt'
  language: system
  pass_filenames: false

tanaka-clippy:
  name: Lint Rust code with clippy (tanaka)
  entry: bash -c 'cd tanaka/server && cargo clippy --all-targets -- -D warnings'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-rust-tests:
  name: Run Rust tests (tanaka)
  entry: bash -c 'cd tanaka/server && (command -v cargo-nextest >/dev/null 2>&1 && cargo nextest run) || cargo test'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-format-generated-typescript:
  name: Format generated TypeScript files (tanaka)
  entry: bash -c 'cd tanaka/extension && pnpm run lint:generated || true'
  language: system
  pass_filenames: false
  always_run: false

tanaka-eslint:
  name: Lint TypeScript with ESLint (tanaka)
  entry: bash -c 'cd tanaka/extension && pnpm run lint'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-typescript:
  name: Type check TypeScript (tanaka)
  entry: bash -c 'cd tanaka/extension && pnpm run typecheck'
  language: system
  pass_filenames: false
  require_serial: true

tanaka-extension-tests:
  name: Run TypeScript tests (tanaka)
  entry: bash -c 'cd tanaka/extension && pnpm tests'
  language: system
  pass_filenames: false
  require_serial: true

kiku-eslint:
  name: Lint and format TypeScript with ESLint (kiku)
  entry: bash -c 'cd kiku/core && pnpm lint'
  language: system
  pass_filenames: false

kiku-typecheck:
  name: Type check TypeScript (kiku)
  entry: bash -c 'cd kiku/core && pnpm typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-push

kiku-tests:
  name: Run TypeScript tests (kiku)
  entry: bash -c 'cd kiku/core && pnpm tests'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: flatten @kiku/core structure and add comprehensive tests
  kiku/core/src/__tests__/merge.test.ts
  kiku/core/src/__tests__/object-utils.test.ts
  kiku/core/src/__tests__/partial.test.ts
  kiku/core/src/__tests__/utils.test.ts
  kiku/core/src/index.ts
  kiku/core/src/merge.ts
  kiku/core/src/object-utils.ts
  kiku/core/src/partial.d.ts
  kiku/core/src/types.ts
  kiku/core/src/utils.ts
Due: kiku-eslint, kiku-typecheck, kiku-tests

feat: consolidate configuration and standardize monorepo tooling
  .pre-commit-config.yaml
  config/README.md
  config/eslint.common.ts
  config/package.json
  config/pnpm-lock.yaml
  kiku/core/eslint.config.js
  tanaka/extension/.prettierrc.json
  tanaka/extension/eslint.config.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

chore: update dependencies and apply formatting fixes
  kiku/core/package.json
  kiku/core/pnpm-lock.yaml
  kiku/core/pnpm-workspace.yaml
  tanaka/extension/package.json
  tanaka/extension/pnpm-lock.yaml
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/scripts/common.ts
  tanaka/extension/scripts/dev.ts
  tanaka/extension/scripts/process-utils.ts
  tanaka/extension/src/popup/App.tsx
  tanaka/extension/src/popup/components/StatusIndicator.tsx
  tanaka/extension/src/popup/index.tsx
  tanaka/extension/tanaka.config.ts
Due: tanaka-eslint, tanaka-typescript, tanaka-extension-tests

fix: apply pre-commit formatting fixes
  config/eslint.common.ts
  config/package.json
  kiku/core/package.json
  kiku/core/src/__tests__/object-utils.test.ts
  kiku/core/src/merge.ts
  tanaka/extension/.prettierrc.json
Due: kiku-eslint, kiku-typecheck, kiku-tests

chore: reorganize .gitignore files to eliminate duplication
  .gitignore
  kiku/.gitignore
  tanaka/.gitignore
  tanaka/extension/.gitignore
  tanaka/server/.gitignore
Due: none

chore: reorganize config files into config/ directory
  .gitignore
  .pre-commit-config.yaml
  config/markdownlint.json
  config/yamllint.yml
  nebulae.code-workspace
Due: none

chore: consolidate configuration and improve monorepo setup
  .gitignore
  .pre-commit-config.yaml
  .prettierrc.json
  LICENSE
  config/.markdownlint.json
  config/README.md
  config/prettierrc.json
  kiku/README.md
  kiku/core/.prettierrc.json
  kiku/core/eslint.config.js
  kiku/core/package.json
  kiku/core/pnpm-lock.yaml
  kiku/core/src/utils.ts
  kiku/core/vitest.config.ts
  nebulae.code-workspace
  tanaka/README.md
Due: kiku-eslint, kiku-typecheck, kiku-tests

docs: add comprehensive UI design specification for Tanaka
  tanaka/docs/UI-DESIGN.md
Due: none

docs: enhance UI design with detailed specifications
  tanaka/docs/UI-DESIGN.md
Due: none

feat: redesign UI mockups with visual design system
  tanaka/docs/UI-DESIGN.md
Due: none

feat: add practical UI improvements from review feedback
  tanaka/docs/UI-DESIGN.md
Due: none

chore: convert all Unicode to ASCII in UI mockups
  tanaka/docs/UI-DESIGN.md
Due: none

fix: correct ASCII border alignment in UI mockups
  tanaka/docs/UI-DESIGN.md
Due: none

docs: standardize markdown formatting with ASCII characters
  .pre-commit-config.yaml
  CLAUDE.md
  tanaka/CLAUDE.md
  tanaka/docs/DEVELOPMENT.md
Due: none

fix: correct ASCII border alignment in UI mockups
  .editorconfig
  .pre-commit-config.yaml
  config/.shellcheckrc
  config/ruff.toml
  config/taplo.toml
  tanaka/docs/UI-DESIGN.md
Due: none

fix: correct ASCII border alignment in UI mockups
  tanaka/docs/ARCHITECTURE.md
  tanaka/docs/IMPLEMENTATION-NOTES.md
  tanaka/docs/SYNC-PROTOCOL.md
  tanaka/docs/UI-DESIGN.md
  tanaka/extension/docs/API-USAGE.md
Due: none

docs: standardize markdown formatting with ASCII characters
  .editorconfig
  .pre-commit-config.yaml
  CLAUDE.md
  config/.shellcheckrc
  config/ruff.toml
  config/taplo.toml
  tanaka/CLAUDE.md
  tanaka/docs/DEVELOPMENT.md
  tanaka/server/Cargo.toml
Due: none

fix: correct ASCII border alignment in UI mockups
  tanaka/docs/ARCHITECTURE.md
  tanaka/docs/IMPLEMENTATION-NOTES.md
  tanaka/docs/SYNC-PROTOCOL.md
  tanaka/extension/docs/API-USAGE.md
Due: none

feat: implement tanaka UI simulator webapp
  tanaka/extension/src/webapp/index.html
  tanaka/extension/src/webapp/manager.html
  tanaka/extension/src/webapp/mock-data.js
  tanaka/extension/src/webapp/onboarding-v2.html
  tanaka/extension/src/webapp/onboarding.html
  tanaka/extension/src/webapp/popup.html
  tanaka/extension/src/webapp/settings.html
  tanaka/extension/src/webapp/styles/design-system.css
Due: tanaka-prettier-html-css, tanaka-eslint

refactor: enhance onboarding UI with improved design system
  tanaka/extension/src/webapp/onboarding.html
  tanaka/extension/src/webapp/styles/design-system.css
Due: tanaka-prettier-html-css

refactor: rename webapp to playground and integrate with rsbuild
  tanaka/extension/package.json
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/index.ts
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/mock-data.js
  tanaka/extension/src/playground/onboarding.html
  tanaka/extension/src/playground/onboarding.ts
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/popup.ts
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/styles/design-system.css
  tanaka/extension/src/webapp/onboarding-v2.html
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: enhance playground HTML pages with design system
  config/package.json
  config/pnpm-workspace.yaml
  kiku/core/package.json
  kiku/core/pnpm-lock.yaml
  tanaka/extension/package.json
  tanaka/extension/pnpm-lock.yaml
  tanaka/extension/pnpm-workspace.yaml
  tanaka/extension/rsbuild.config.ts
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/manager.ts
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/settings.ts
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: consolidate duplicate CSS classes in playground HTML
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/manager.html
  tanaka/extension/src/playground/onboarding.html
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/settings.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

fix: restore missing text-4xl variable and playground-title class
  tanaka/extension/src/playground/index.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

docs: add comprehensive design system refactoring plan and audit
  tanaka/extension/src/playground/DESIGN-SYSTEM-AUDIT.md
  tanaka/extension/src/playground/DESIGN-SYSTEM-REFACTORING-PLAN.md
Due: none

refactor: consolidate design system and remove duplicate CSS
  tanaka/extension/src/playground/DESIGN-SYSTEM-AUDIT.md
  tanaka/extension/src/playground/manager.ts
  tanaka/extension/src/playground/onboarding.ts
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/popup.ts
  tanaka/extension/src/playground/settings.ts
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css, tanaka-eslint, tanaka-typescript, tanaka-extension-tests

refactor: improve popup.html structure and add safety features
  tanaka/extension/src/playground/popup.html
Due: tanaka-prettier-html-css

feat: enhance popup interface with consistent styling
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

refactor: improve popup layout with side-by-side controls
  tanaka/extension/src/playground/popup.html
  tanaka/extension/src/playground/styles/design-system.css
Due: tanaka-prettier-html-css

Path conditions:
  tanaka-prettier-html-css: any of: ^tanaka/extension/.*\.(html|css)$ and \.(html|htm|xhtml)$, \.css$ and not ((.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$)
  tanaka-rustfmt: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-clippy: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-rust-tests: any of: ^tanaka/server/.*\.rs$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-format-generated-typescript: any of: ^tanaka/extension/src/api/(errors|models|sync)/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-eslint: any of: ^tanaka/extension/.*\.(ts|tsx|js|jsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-typescript: any of: ^tanaka/extension/.*\.(ts|tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  tanaka-extension-tests: any of: ^tanaka/extension/.*\.(ts|tsx|test\.ts|test\.tsx)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-eslint: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-typecheck: any of: ^kiku/.*\.ts$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
  kiku-tests: any of: ^kiku/.*\.(ts|test\.ts)$, but not: (.*/repomix-output\.(md|xml)|.*/pnpm-lock\.yaml)$
